body{
     margin: 0px;
    
     background-color:gainsboro;
}
.navbar{
     background-color: purple;
     padding: 30px;
     
}

.navbar li{
     float: right;
     list-style: none;
}
.navbar li a{
     text-decoration: none;
     margin-right: 20px;
     color: white;
     padding-right: 20px;
     text-align: center;
}
.navbar li:hover{
background-color: black;
}
.logo a{
     text-transform: uppercase;
     color: white;
     text-shadow: 2px 2px 2px;
     text-decoration: none;
}
label{
     float: right;
     margin-right: 40px;
     display: none;
}
#toggle{
     display: none; 
}
/*
responsive for navbar
*/
@media screen and (max-width: 550px) {
     label{
          display: block;
          cursor: pointer;
   }
    .navbar li{
         text-align: right;
        width: 100%;
         display:none;
    }
    .navbar li a{
         display: block;
         margin: 0%;
    }
    #toggle:checked + ul li{
         display: block;
    }
}
.container{
     text-align: center;
     padding: 75px;
     background-color: aqua;
     margin-top: 50px;
}

.heading{
     margin-top: 3px;
     text-align: center;
     color: red;
}
.portfolio{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-column-gap: 4px;
     margin-top: 50px;
     
}
.portfo-container{
     padding: 4%;
     background-color: aqua;
}
.skill-container{
     padding: 4%;
     background-color: aqua;
}

.portfo-container .image{
     background-color: antiquewhite;
     padding: 4.5%;
     width: 35px;
     text-align: center;
     margin-left: 30px;
     
}
.contact{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-column-gap: 4px;
     margin-top: 50px;
     
}
.form-container{
     padding: 4%;
     
     background-color: aqua;
    
     
}
.form-container .submit{
     box-shadow: 2px 2px 6px black;
}


.contact-container{
     padding: 1.8%;
     background-color: aqua;
     float: right;
     

}
.blog{
     display: grid;
     grid-template-columns: 35% 30% 35%;
     grid-column-gap: 4px;
     margin-top: 50px;
     margin-left: 4px;
     margin-right: 4px;
}
.start, .Problem, .learned{
     background-color: aqua;
     padding: 3%;
}
