body {
     margin: 0px;
    background-color:gainsboro;
}
.navbar{
     background-color: purple;
     padding: 30px;
     overflow: hidden;
     
}

.navbar li{
     float: right;
     list-style: none;
     
}
.navbar li{
     margin-right: 30px;
}
.navbar li a{
     text-decoration: none;
     
     color: white;
     
     text-align: center;
}
.navbar li a:hover{
background-color: black;
}
.logo a{
     text-transform: uppercase;
     color: white;
     text-shadow: 2px 2px 2px;
     text-decoration: none;
}
label{
     float: right;
     margin-right: 40px;
     display: none;
}
#toggle{
     display: none; 
}
/*
responsive for navbar
*/
@media screen and (max-width: 550px){
     label{
          display: block;
          cursor: pointer;
   }
    .navbar li{
         text-align: right;
         width: 100%;
         display:none;
        
    }
    .navbar li a{
         display: block;
         margin: 0%;
    }
    #toggle:checked + ul li{
         display: block;
        margin-top: 10px;
        padding: 0 50px 0 0;
    }
}
.container{
     text-align: center;
     padding: 75px;
     background-color: aqua;
     margin-top: 50px;
}
/* annimation for all heading*/
.heading{
     background-color: black;
     margin-top: 3px;
     text-align: center;
     color: red;
     width: 200px;
     margin-left: 43%;
     position: relative;
     animation-name: rotate;
     animation-duration: 1s;
     animation-iteration-count: 1 ;
}
@keyframes rotate {
     from {
          margin-left: 100%;
     }
     to {
          margin-right: 100%;
     }
}
.portfolio{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-column-gap: 4px;
     margin-top: 50px;
     
}
.portfo-container{
     padding: 4%;
     background-color: aqua;
}

.skill-container{
     padding: 4%;
     background-color: aqua;
}
.info{
     margin-top: 130px;
}

.portfo-container .image{
     background-color: antiquewhite;
     padding: 4.5%;
     width: 35px;
     text-align: center;
     margin-left: 30px;
     
}

.contact{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-column-gap: 4px;
     margin-top: 50px;
     
}
.form-container{
     padding: 4%;
     
     background-color: aqua;
    
     
}
.form-container .submit{
     box-shadow: 2px 2px 6px black;
}


.contact-container{
     padding: 1.8%;
     background-color: aqua;
     float: right;
     

}
.blog{
     display: grid;
     grid-template-columns: 35% 30% 35%;
     grid-column-gap: 4px;
     margin-top: 50px;
     margin-left: 4px;
     margin-right: 4px;
}
.start, .Problem, .learned{
     background-color: aqua;
     padding: 3%;
}
.report{
     margin-top: 50px;
     background-color: aqua;
     padding: 50px;}
.validate-image{
     padding: 20px;
     
}
.image{
     float: left;
     background-color:skyblue;
}
.validate-image img{
     width: 400px;
     height: 250px;
    margin: 7px;
}