body{
     margin: 0px;
}
.logo{
     padding: 8px;
     background-color: rgb(224, 221, 221);
     margin: 0;
     size: 7px;
}
.navbar{
    padding: 30px;
     background-color: antiquewhite;
     list-style: none;
}
.navbar li{
     list-style: none;
     display: inline-block;
     float: right;
     margin-right: 20px;
     
     
}
.navbar li a{
     text-decoration: none;
     color: black;
}
.navbar li :hover{
     background-color: aqua;
}
.navbar li .active a{
     background-color: aqua;
}

.container{
     text-align: center;
     padding: 75px;
     background-color: aqua;
     margin-top: 3px;
}
.portfolio{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-column-gap: 4px;
     margin-top: 3px;
}
.portfo-container{ 
     
     padding: 4%;
     
     background-color: aqua;
     /*float: left;
     width:44%;
     */

}
.portfo-container .image{
     background-color: antiquewhite;
     padding: 4.5%;
     width: 35px;
     text-align: center;
     margin-left: 30px;
     
}
.skill-container{
     padding: 1.8%;
     background-color: aqua;
     /*float: right;
     width: 44%;*/

}
.contact{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-column-gap: 4px;
     margin-top: 3px;
     
}
.form-container{
     padding: 4%;
     
     background-color: aqua;
    /* float: left;
     width:44%;*/
     
}
.form-container .submit{
     box-shadow: 2px 2px 6px black;
}


.contact-container{
     padding: 1.8%;
     background-color: aqua;
     float: right;
     /*width: 44%;
     height: 290px;*/

}
@media screen and (max-width:600px;){
     .navbar{flex-direction: column;}
     .navbar li{width:90%; margin: 1%; padding: 1%;}
     .container{flex-direction: column;}
     h1,h2{width: 90; order: 2;}
     
}